# Running the app locally without a .env should generate one for you but some
# stuff listed here will be missing

# The ID of your GitHub App
APP_ID=
WEBHOOK_SECRET=development

# Name of the GitHub App you created
APP_NAME=

# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=debug

# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=
